# IntelliJ IDEA project files
.idea/
*.iml

# Build output
out/
build/

# Maven build output
target/

# Logs and temporary files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Lennon suunnitelma tiedostot
Project/resources/static/suunnitelma_*.html

# GeoJSON datatiedostot
Project/resources/static/fi_apt.geojson
Project/resources/static/fi_asp.geojson
Project/resources/static/fi_nav.geojson